<!-- Row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ isTaskTemplateForm ? "Task Template Form" : "Task Form" }}</h4>
        <hr>
        <form [formGroup]="createEditTaskTemplate"
              (ngSubmit)="createEditTaskTemplateSubmit()">
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="description" class="control-label col-form-label">Description</label>
                  <input type="text" class="form-control"
                         formControlName="description"
                         id="description"
                         [attr.disabled]="!isTaskTemplateForm ? '' : null"
                         [ngClass]="{'is-invalid': submitted && f.description.errors }">
                  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Description is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="form-group" *ngIf="isTaskTemplateForm">
                  <label for="topic" class="control-label col-form-label">Topic</label>
                  <ng-select [items]="topicsObservable | async"
                             bindLabel="description"
                             id="topic"
                             [ngModelOptions]="{standalone: true}"
                             [searchable]="true"
                             [clearable]="false"
                             [(ngModel)]="selectedTopic"
                             placeholder="Select a topic">
                  </ng-select>
                  <div *ngIf="submitted && !selectedTopic" class="invalid-feedback-show">
                    Topic is required
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="form-group" *ngIf="isTaskTemplateForm">
                  <label class="control-label col-form-label">Who manages the task</label>
                  <div class="form-check">
                    <div class="custom-control custom-radio">
                      <input type="radio" formControlName="expirationRadio"
                             class="custom-control-input" [value]=1
                             id="customControlValidation2">
                      <label class="custom-control-label"
                             for="customControlValidation2">Anyone can close the task</label>
                    </div>
                  </div>
                  <div class="form-check" *ngIf="!isForeign">
                    <div class="custom-control custom-radio">
                      <input type="radio" formControlName="expirationRadio"
                             class="custom-control-input" [value]=2
                             id="customControlValidation3">
                      <label class="custom-control-label"
                             for="customControlValidation3">Every user has his task</label>
                    </div>
                  </div>
                  <span *ngIf="submitted && f.expirationRadio.errors" class="invalid-feedback-show">
                                    <div *ngIf="f.expirationRadio.errors.required">Expiration closed by is
                                        required</div>
                                </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="periodicity" class="control-label col-form-label">Periodicity</label>
                  <ng-select [items]="periodicityObservable | async"
                             bindLabel="description"
                             id="periodicity"
                             [searchable]="true"
                             [clearable]="false"
                             [(ngModel)]="selectedPeriodicity"
                             [ngModelOptions]="{standalone: true}"
                             placeholder="Select Periodicity">
                  </ng-select>
                  <div *ngIf="submitted && !selectedPeriodicity" class="invalid-feedback-show">
                    Periodicity is required
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="expirationtype" class="control-label col-form-label">Expiration</label>
                  <ng-select [items]="expirationTypeObservable | async"
                             bindLabel="description"
                             id="expirationtype"
                             [searchable]="true"
                             [clearable]="false"
                             [(ngModel)]="selectedExpirationType"
                             (change)="onChangeExpiration()"
                             [ngModelOptions]="{standalone: true}"
                             placeholder="Select Expiration type">
                  </ng-select>
                  <div *ngIf="submitted && !selectedExpirationType" class="invalid-feedback-show">
                    Expiration is required
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="day" class="control-label col-form-label">Day</label>
                  <input type="number" class="form-control"
                         formControlName="day"
                         id="day"
                         [ngClass]="{'is-invalid': submitted && f.day.errors }">
                  <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
                    <div *ngIf="f.day.errors.required">Day is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="daysOfNotice" class="control-label col-form-label">Days of
                    notice</label>
                  <input type="number" class="form-control"
                         formControlName="daysOfNotice"
                         id="daysOfNotice"
                         [ngClass]="{'is-invalid': submitted && f.daysOfNotice.errors }">
                  <div *ngIf="submitted && f.daysOfNotice.errors" class="invalid-feedback">
                    <div *ngIf="f.daysOfNotice.errors.required">Days of notice is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="frequenceOfNotice" class="control-label col-form-label">Frequence of
                    notice</label>
                  <input type="number" class="form-control"
                         formControlName="frequenceOfNotice"
                         id="frequenceOfNotice"
                         [ngClass]="{'is-invalid': submitted && f.frequenceOfNotice.errors }">
                  <div *ngIf="submitted && f.frequenceOfNotice.errors"
                       class="invalid-feedback">
                    <div *ngIf="f.frequenceOfNotice.errors.required">Frequence of Notice is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="daysBeforeShowExpiration" class="control-label col-form-label">Expiration
                    closable</label>
                  <input type="number" class="form-control"
                         formControlName="daysBeforeShowExpiration"
                         id="daysBeforeShowExpiration"
                         [ngClass]="{'is-invalid': submitted && f.daysBeforeShowExpiration.errors }">
                  <div *ngIf="submitted && f.daysBeforeShowExpiration.errors"
                       class="invalid-feedback">
                    <div *ngIf="f.daysBeforeShowExpiration.errors.required">Expiration closable is
                      required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br/>

            <div *ngIf="isTaskTemplateForm">
              <div class="row">
                <div class="col-md-2">
                  <button type="button" (click)="fileInput.click()" class="btn-tnx btn-default">Upload
                    Files
                  </button>
                  <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                                    <input #selectedFile type="file" #fileInput ng2FileSelect [uploader]="uploader"
                                           multiple/>
                                </span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-10 table-responsive">
                  <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                      <th width="50%">Name</th>
                      <th width="10%">Size</th>
                      <th width="40%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader?.queue">
                      <td>
                        <strong>{{ item?.file?.name }}</strong>
                      </td>
                      <td nowrap>{{ item?.file?.size/1024/1024 | number:'.1' }} MB
                      </td>
                      <td nowrap>
                        <button type="button" class="btn-tnx btn-danger btn-xs"
                                (click)="removeFile(item)">
                          <span class="fa fa-trash"></span> Remove
                        </button>
                        <button *ngIf="!isNewForm" type="button" class="btn-tnx btn-xs"
                                (click)="downloadFile(item)">
                          <span class="fa fa-download"></span> Download
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <div class="row">
              <div class="m-b-0 col text-left">
                <button #cancelBtn type="button" routerLink="/back-office/office-task"
                        class="btn-tnx btn-outline-secondary waves-effect waves-light">
                  Cancel
                </button>
                <button #submitBtn class="btn-tnx btn-success waves-effect waves-light">Save Task
                  Template
                </button>
                <!--<button type="button" (click)="deleteTaskTemplate()" *ngIf="!task.taskOffices  && !isNewForm && isTaskTemplateForm" class="btn-tnx btn-danger waves-effect waves-light">Delete</button>-->
                <!--<button type="button" (click)="deleteTask()" *ngIf="!task.taskOffices  && !isNewForm && !isTaskTemplateForm" class="btn-tnx btn-danger waves-effect waves-light">Delete</button>-->
              </div>
            </div>
          </div>
        </form>

        <swal
                #confirmationTaskTemplateSwal
                title=""
                text=""
                [showCancelButton]="true"
                confirmButtonText="Yes, save it!"
                cancelButtonText="No, cancel!"
                type="warning">
        </swal>
        <swal
                #errorTaskTemplateSwal
                title=""
                text=""
                type="error">
        </swal>

      </div>
    </div>
  </div>
</div>
<!-- End Row -->