<div *ngIf="taskTemplatesArray && taskTemplatesArray.length > 0">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion nav-accordion">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div id="container-fluid">
          <div class="row">
            <div class="col-2 float-left">
              <span class="float-left">{{ 'BACK_OFFICE.OFFICE_TASK.ALL_TASKS' | translate }}</span>
            </div>
            <div class="col-8 text-center">
            </div>
            <div class="col-2 float-right">
              <button class="btn-tnx btn-info btn-block " type="button"
                      (click)="createTask()">{{ 'GENERAL.CREATE' | translate }}
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <table class="table table-borderless table-responsive">
          <tbody>
          <tr *ngFor="let taskTemplate of taskTemplatesArray">
            <td>
              <button class="btn-tnx btn-info btn-block" type="button"
                      (click)="modifyTaskTemplate(taskTemplate)">{{ 'GENERAL.MODIFY' | translate }}
              </button>
            </td>
            <td>{{taskTemplate.descriptionTaskTemplate}}</td>
            <td>{{ 'BACK_OFFICE.OFFICE_TASK.OFFICES_SPACE' | translate }} {{taskTemplate.counterOffices}}</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>