<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-subtitle">List of Offices</h5>
        <div class="row">
          <div class="col-md-9">
            <input type='text' class="form-control" placeholder='Type to filter the rows...'
                   (keyup)='updateFilter($event)'/>
          </div>
          <div class="col-md-3 text-right">
            <button class="btn btn-info btn-block" type="button" (click)="createNewOffice()">Create new Office
            </button>
          </div>
        </div>
        <hr>
        <ngx-datatable #myTable
                       class='material expandable'
                       [columnMode]="'force'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="55"
                       [rows]='rows'
                       [limit]="10">

          <!-- Row Detail Template -->
          <ngx-datatable-row-detail
                  [rowHeight]="50"
                  #myDetailRow
                  (toggle)="onDetailToggle($event)">
            <ng-template let-row="row"
                         let-expanded="expanded"
                         ngx-datatable-row-detail-template>
              <div style="padding-left:60px; font-size:14px">
                <button class="btn btn-info waves-effect waves-light" type="button"
                        (click)="editOffice(row)">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button class="btn btn-warning waves-effect waves-light" type="button"
                        (click)="deleteOfficeAlert(row)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <!-- Column Templates -->

          <ngx-datatable-column
                  [width]="50"
                  [resizeable]="false"
                  [sortable]="false"
                  [draggable]="false"
                  [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                      [class.datatable-icon-right]="!expanded"
                      [class.datatable-icon-down]="expanded"
                      title="Expand/Collapse Row"
                      (click)="toggleExpandRow(row)"
                      class="desktop-hidden">
              </a>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Options" [sortable]="false" [flexGrow]="1">

            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="mobile-hidden">{{column.name}}</span>
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="mobile-hidden">
              <button class="btn btn-info
              waves-effect waves-light" type="button"
                      (click)="editOffice(row)">Edit</button>
              </span>

              <span class="mobile-hidden">
              <button class="btn btn-warning
              waves-effect waves-light"
                      type="button" (click)="deleteOfficeAlert(row)">Remove</button>
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Description" [flexGrow]="3" [minWidth]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.description}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Created By" [sortable]="true" [flexGrow]="1">
            <ng-template let-column="column"  ngx-datatable-header-template>
              <span class="mobile-hidden">{{column.name}}</span>
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="mobile-hidden">
              {{row.createdBy}}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Modified By" [flexGrow]="1" [sortable]="true">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="mobile-hidden">{{column.name}}</span>
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="mobile-hidden">
              {{row.modifiedBy}}
              </span>
            </ng-template>
          </ngx-datatable-column>
          <!-- End Column Templates -->
        </ngx-datatable>

        <swal
                #deleteOfficeSwal
                title=""
                text="This cannot be undone."
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="deleteOfficeCofirm(rowSelected.id)">
        </swal>

      </div>
    </div>
  </div>
</div>
