<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="{{ isMobile ? 'card-body-mobile' : 'card-body' }}">
                <div class="controls">
                    <div class="input-group">
                        <input #descriptionOffice type='text' class="form-control"
                               placeholder="{{ 'BACK_OFFICE.OFFICE.TYPE_FILTER_ROWS' | translate }}"
                               (keyup)='updateFilter($event)'/>
                        <span class="input-group-append">
            <button class="btn-inline btn-info btn-block" type="button" (click)="createNewOffice()">
              <span *ngIf="!isMobile">{{ 'BACK_OFFICE.OFFICE.CREATE_NEW_OFFICE' | translate }}</span>
              <i *ngIf="isMobile" class="fas fa-plus fa-xs"></i>
            </button>
          </span>
                    </div>
                </div>
                <hr>
                <ngx-datatable #myTable
                               class='material expandable'
                               [columnMode]="'force'"
                               [headerHeight]="50"
                               [footerHeight]="50"
                               [rowHeight]="55"
                               [rows]='rows'
                               [messages]="{emptyMessage: ('GENERAL.NODATA' | translate), totalMessage: ('GENERAL.TOTAL' | translate), selectedMessage: false}"
                               [limit]="10">

                    <!-- Column Templates -->

                    <ngx-datatable-column
                            [width]="80"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <div style="font-size:9px" class="desktop-hidden">
                                <button class="btn btn-primary waves-effect waves-light btn-sm" type="button"
                                        (click)="editOffice(row)">
                                    <i class="fas fa-pencil-alt fa-xs"></i>
                                </button>
                                <button class="btn btn-danger waves-effect waves-light btn-sm" type="button"
                                        (click)="deleteOfficeAlert(row)">
                                    <i class="far fa-trash-alt fa-xs"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'BACK_OFFICE.COMPANY.OPTIONS' | translate }}"
                                          *ngIf="!isMobile"
                                          [maxWidth]="200"
                                          [sortable]="false" [flexGrow]="1">

                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class="mobile-hidden">{{column.name}}</span>
                        </ng-template>

                        <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="mobile-hidden">
              <button class="btn btn-primary
              waves-effect waves-light" type="button"
                      (click)="editOffice(row)">{{ 'GENERAL.EDIT' | translate }}</button>
              </span>

                            <span class="mobile-hidden">
              <button class="btn btn-danger
              waves-effect waves-light"
                      type="button" (click)="deleteOfficeAlert(row)">{{ 'GENERAL.REMOVE' | translate }}</button>
              </span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Description" [flexGrow]="3" [minWidth]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.description}}
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- End Column Templates -->
                </ngx-datatable>

                <swal
                        #deleteOfficeSwal
                        title=""
                        text="{{ 'GENERAL.CANNOT_BE_UNDONE' | translate }}"
                        type="question"
                        [showCancelButton]="true"
                        [focusCancel]="true"
                        (confirm)="deleteOfficeConfirm()">
                </swal>

            </div>
        </div>
    </div>
</div>
