<div *ngFor="let taskExpiration of taskExpirations; let i = index">
    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="accordion nav-accordion">
        <ngb-panel type="{{ taskExpiration.colorDefined }}" id="panel-{{ i }}">
            <ng-template ngbPanelTitle>
                <div id="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <span class="float-left">{{ taskExpiration.description }}</span>
                        </div>
                        <div class="col-3 text-center">
                            <span class="float-left"
                                  *ngIf="taskExpiration.totalArchived !== 0 && taskExpiration.totalArchived === taskExpiration.totalExpirations">
                                {{ 'FRONT_END.AGENDA.ARCHIVED' | translate }} {{taskExpiration.totalArchived}} / {{taskExpiration.totalExpirations}}</span>

                            <span class="float-left"
                                  *ngIf="taskExpiration.totalArchived !== taskExpiration.totalExpirations">
                                {{ 'FRONT_END.AGENDA.COMPLETED' | translate }} {{taskExpiration.totalCompleted}} / {{taskExpiration.totalExpirations}}</span>
                        </div>
                        <div class="col-3 text-center">
                            <div class="row"
                                 *ngIf="taskExpiration.totalArchived !== taskExpiration.totalExpirations &&
                                 taskExpiration.totalCompleted === taskExpiration.totalExpirations">
                                <button type="button" class="btn-tnx btn-xs btn-warning"
                                        (click)="restoreAll(taskExpiration)">{{ 'FRONT_END.AGENDA.RESTORE_ALL' | translate }}
                                </button>
                                <button type="button" class="btn-tnx btn-xs btn-success"
                                        (click)="archiveAll(taskExpiration)">{{ 'FRONT_END.AGENDA.ARCHIVE_ALL' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <span class="float-left">{{ 'FRONT_END.AGENDA.EXPIRATION_DATE' | translate }} {{taskExpiration.expirationDate}}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div *ngFor="let expiration of taskExpiration.expirations">
                    <app-office-expiration [expiration]="expiration"
                                           (updateTaskExpirationOnChange)="updateTaskExpirationOnChange($event, expiration, taskExpiration)"
                                           [taskExpiration]="taskExpiration"
                                           class="w-100">
                    </app-office-expiration>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>