<div *ngFor="let taskExpiration of taskExpirations">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion nav-accordion">
        <ngb-panel type="{{ taskExpiration.colorDefined }}">
            <ng-template ngbPanelTitle>
                <div id="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <span class="float-left">{{ taskExpiration.description }}</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="float-left">Completed {{taskExpiration.totalCompleted}} / {{taskExpiration.totalExpirations}}</span>
                        </div>
                        <div class="col-4 text-right">
                            <span class="float-left">Expiration date {{taskExpiration.expirationDate}}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div *ngFor="let expiration of taskExpiration.expirations">
                        <app-office-expiration [expiration]="expiration"
                                                        [taskExpiration]="taskExpiration"
                                                        class="w-100">
                        </app-office-expiration>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>