// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.card-body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.collapse.show {
  border: 1px solid $border-color;
}

.card-subtitle {
  margin-top: 0 !important;
}

.table {
  margin-bottom: 0 !important;
}

.border-blue {
  border-color: $light-blue !important;
}