<ngb-accordion #acc="ngbAccordion" class="accordion nav-accordion">
  <ngb-panel id="ngb-panel-{{taskOffice.office.idOffice}}">
    <ng-template ngbPanelTitle>
      <div id="{{ isMobile ? 'container-fluid-mobile' : 'container-fluid' }}">
        <div class="row" style="width: 100% !important;">
          <div class="col-2">
            <span class="float-left">{{ taskOffice.office.description }}</span>
          </div>
          <div class="col-8 text-center">
          </div>
          <div class="col-2 float-right">
            <button class="{{ isMobile ? 'btn btn-small btn-danger' : 'btn btn-danger btn-block' }}" type="button"
                    (click)="removeOfficeBtn(taskOffice.office)">
              <span *ngIf="!isMobile">{{ 'GENERAL.REMOVE' | translate }}</span>
              <i *ngIf="isMobile" class="far fa-trash-alt fa-xs"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-sm-12 col-sm-5">
          <label for="periodicity" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.PROVIDERS' | translate }}</label>
          <div class="col-sm-9">
            <ng-select
                    [items]="userAvailableArray"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [hideSelected]="true"
                    [searchable]="true"
                    [clearable]="false"
                    bindLabel="fullName"
                    (add)="onAddProvidersOffice($event)"
                    (remove)="onRemoveProvidersOffice($event)"
                    [(ngModel)]="userProvidersArray"
                    placeholder="{{ 'BACK_OFFICE.TASK.SELECT_PROVIDERS' | translate }}">

              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input [ngModelOptions]="{standalone: true}"
                       id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>
                {{item.fullName}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-sm-5">
          <label for="periodicity" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.BENEFICIARIES' | translate }}</label>
          <div class="col-sm-9">
            <ng-select
                    [items]="userAvailableArray"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [hideSelected]="true"
                    [searchable]="true"
                    [clearable]="false"
                    bindLabel="fullName"
                    (add)="onAddBeneficiariesOffice($event)"
                    (remove)="onRemoveBeneficiariesOffice($event)"
                    [(ngModel)]="userBeneficiariesArray"
                    placeholder="{{ 'BACK_OFFICE.TASK.SELECT_BENEFICIARIES' | translate }}">

              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input [ngModelOptions]="{standalone: true}"
                       id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>
                {{item.fullName}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>