<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1" class="accordion ">
    <ngb-panel type="{{ expiration.expirationDetail.colorDefined }}">
        <ng-template ngbPanelTitle>
            <div id="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <span class="float-left">{{ expiration?.office?.description }} <i *ngIf="expiration.username !== ''">-</i> {{ expiration.username }}</span>
                    </div>
                    <div class="col-4 text-center">
                    </div>
                    <div class="col-4 text-right">
                        <span class="float-left">{{expiration.expirationDetail.expirationDescriptionDate}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="d-md-flex align-items-center">
                <div class="ml-auto d-flex float-left align-items-center">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownDetails" ngbDropdownToggle>Details
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item"
                                    *ngIf="restoreBtn"
                                    (click)="restoreExp()">Restore
                            </button>
                            <button class="dropdown-item"
                                    *ngIf="archivedBtn"
                                    (click)="archivedExp()">Archived
                            </button>
                            <button class="dropdown-item"
                                    *ngIf="approvedBtn"
                                    (click)="approvedExp()">Approved
                            </button>
                            <button class="dropdown-item"
                                    *ngIf="notApprovedBtn"
                                    (click)="notApprovedExp()">Not Approved
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="let expirationActivity of expiration.expirationActivities">
                <app-expiration-activity [expiration]="expiration" [expirationActivity]="expirationActivity"
                                         class="w-100"></app-expiration-activity>
            </div>

        </ng-template>
    </ngb-panel>
</ngb-accordion>
