<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1" class="accordion ">
    <ngb-panel type="{{ expiration.expirationDetail.colorDefined }}">
        <ng-template ngbPanelTitle>
            <div id="{{ isMobile ? 'container-fluid-mobile' : 'container-fluid' }} text-left">
                <div class="row">
                    <div class="{{ isMobile ? 'col-3 text-small margin-left-10' : 'col-4' }}">
                        <span class="float-left">{{ expiration?.office?.description }}
                            <i *ngIf="expiration.username !== ''">-</i> {{ expiration.username }}</span>
                    </div>
                    <div class="col-4 text-center">
                    </div>
                    <div class="{{ isMobile ? 'col-3 text-small margin-right-10' : 'col-4' }} {{ isMobile ? 'text-left' : 'text-right' }}">
                        <span class="float-left">{{expiration.expirationDetail.expirationDescriptionDate}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>

            <div class="form-body">
                <div class="row">
                    <div class="col-md-9">
                        <app-office-exp-task-template
                                *ngIf="expiration && expiration.taskTemplate && hideDetailsBtn"
                                [taskTemplate]="expiration.taskTemplate">
                        </app-office-exp-task-template>
                    </div>
                    <div class="col-md-3 {{ isMobile ? 'text-left' : 'text-right' }}">
                        <div class="form-group">
                            <div ngbDropdown class="d-inline-block btn-group mr-3">
                                <button type="button" (click)="showHideDetailsMsg()" class="btn-dropdown btn-primary">
                                    <span *ngIf="!isMobile">{{ hideDetailsBtn ? ('GENERAL.HIDE' | translate) : ('GENERAL.DETAILS' | translate) }}</span>
                                    <i *ngIf="isMobile" class="{{ hideDetailsBtn ? 'far fa-folder-open' : 'far fa-folder' }} fa-xs"></i>
                                </button>
                                <div class="btn-group" ngbDropdown role="group"
                                     aria-label="Button group with nested dropdown">
                                    <button class="btn btn-primary dropdown-toggle-split"
                                            ngbDropdownToggle></button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <div *ngIf="restoreBtn">
                                            <button class="dropdown-item"
                                                    (click)="restoreExp()">
                                                {{ 'FRONT_END.AGENDA.RESTORE' | translate }}
                                            </button>
                                            <li *ngIf="rejectBtn || archivedBtn || approvedBtn || notApprovedBtn" class="divider dropdown-divider"></li>
                                        </div>

                                        <div *ngIf="rejectBtn">
                                            <button class="dropdown-item"
                                                    (click)="rejectExp()">
                                                {{ 'FRONT_END.AGENDA.REJECT' | translate }}
                                            </button>
                                            <li *ngIf="archivedBtn || approvedBtn || notApprovedBtn" class="divider dropdown-divider"></li>
                                        </div>

                                        <div *ngIf="archivedBtn">
                                            <button class="dropdown-item"
                                                    (click)="archivedExp()">
                                                {{ 'FRONT_END.AGENDA.ARCHIVED' | translate }}
                                            </button>
                                            <li *ngIf="approvedBtn || notApprovedBtn" class="divider dropdown-divider"></li>
                                        </div>

                                        <div *ngIf="approvedBtn">
                                            <button class="dropdown-item"
                                                    (click)="approvedExp()">
                                                {{ 'FRONT_END.AGENDA.APPROVED' | translate }}
                                            </button>
                                            <li *ngIf="notApprovedBtn" class="divider dropdown-divider"></li>
                                        </div>

                                        <div *ngIf="notApprovedBtn">
                                            <button class="dropdown-item"
                                                    (click)="notApprovedExp()">
                                                {{ 'FRONT_END.AGENDA.NOT_APPROVED' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div *ngFor="let expirationActivity of expiration.expirationActivities">
                            <app-expiration-activity [expiration]="expiration" [expirationActivity]="expirationActivity"
                                                     (updateExpirationActivities)="updateExpirationActivities($event)"
                                                     class="w-100"></app-expiration-activity>
                        </div>
                    </div>
                </div>

            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
