<!-- Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ isTaskTemplateForm ? ('BACK_OFFICE.TASK.TASK_TEMPLATE_FORM' | translate) : ('BACK_OFFICE.TASK.TASK_FORM' | translate) }}</h4>
                <hr>
                <form [formGroup]="createEditTaskTemplate"
                      (ngSubmit)="createEditTaskTemplateSubmit()">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="description" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.DESCRIPTION' | translate }}</label>
                                    <input type="text" class="form-control"
                                           formControlName="description"
                                           id="description"
                                           [attr.disabled]="!isTaskTemplateForm ? '' : null"
                                           [ngClass]="{'is-invalid': submitted && f.description.errors }">
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">{{ 'BACK_OFFICE.TASK.DESCRIPTION_REQUIRED' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group" *ngIf="isTaskTemplateForm">
                                    <label for="topic" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.TOPIC' | translate }}</label>
                                    <ng-select [items]="topicsArray"
                                               bindLabel="description"
                                               id="topic"
                                               [ngModelOptions]="{standalone: true}"
                                               [searchable]="true"
                                               [clearable]="false"
                                               [(ngModel)]="selectedTopic"
                                               placeholder="{{ 'BACK_OFFICE.TASK.SELECT_TOPIC' | translate }}">
                                    </ng-select>
                                    <div *ngIf="submitted && !selectedTopic" class="invalid-feedback-show">
                                        {{ 'BACK_OFFICE.TASK.TOPIC_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4" [hidden]="isForeign">
                                <div class="form-group" *ngIf="isTaskTemplateForm">
                                    <label class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.WHO_MANAGES_TASK' | translate }}</label>
                                    <div class="form-check">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" formControlName="expirationRadio"
                                                   class="custom-control-input" [value]=1
                                                   id="customControlValidation2">
                                            <label class="custom-control-label"
                                                   for="customControlValidation2">{{ 'BACK_OFFICE.TASK.ANYONE_CAN_CLOSE_TASK' | translate }}</label>
                                        </div>
                                    </div>
                                    <div class="form-check" *ngIf="!isForeign">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" formControlName="expirationRadio"
                                                   class="custom-control-input" [value]=2
                                                   id="customControlValidation3">
                                            <label class="custom-control-label"
                                                   for="customControlValidation3">{{ 'BACK_OFFICE.TASK.EVERY_USER_HAS_TASK' | translate }}</label>
                                        </div>
                                    </div>
                                    <span *ngIf="submitted && f.expirationRadio.errors" class="invalid-feedback-show">
                                    <div *ngIf="f.expirationRadio.errors.required">{{ 'BACK_OFFICE.TASK.EXPIRATION_CLOSED_BY_REQUIRED' | translate }}</div>
                                </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="periodicity" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.PERIODICITY' | translate }}</label>
                                    <ng-select [items]="periodicityObservable | async"
                                               bindLabel="description"
                                               id="periodicity"
                                               [searchable]="true"
                                               [clearable]="false"
                                               [(ngModel)]="selectedPeriodicity"
                                               [ngModelOptions]="{standalone: true}"
                                               (change)="onChangePeriod($event)"
                                               placeholder="{{ 'BACK_OFFICE.TASK.SELECT_PERIODICITY' | translate }}">
                                    </ng-select>
                                    <div *ngIf="submitted && !selectedPeriodicity" class="invalid-feedback-show">
                                        {{ 'BACK_OFFICE.TASK.PERIODICITY_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="expirationtype" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.EXPIRATION' | translate }}</label>
                                    <ng-select #selectExpiration
                                               [items]="expirationTypeObservable | async"
                                               bindLabel="description"
                                               id="expirationtype"
                                               [searchable]="true"
                                               [clearable]="false"
                                               [(ngModel)]="selectedExpirationType"
                                               (change)="onChangeExpiration($event)"
                                               [ngModelOptions]="{standalone: true}"
                                               placeholder="{{ 'BACK_OFFICE.TASK.SELECT_EXPIRATION_TYPE' | translate }}">
                                    </ng-select>
                                    <div *ngIf="submitted && !selectedExpirationType" class="invalid-feedback-show">
                                        {{ 'BACK_OFFICE.TASK.EXPIRATION_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <div *ngIf="isFixedDay">
                                        <label class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.DAY' | translate }}</label>
                                    </div>
                                    <input type="number" class="form-control"
                                           id="dayInput"
                                           [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="dayNumberTI"
                                           *ngIf="isFixedDay && isMonthly && !isYearly && !isWeekly">
                                    <my-date-picker name="dateOfDay"
                                                    *ngIf="isFixedDay && isYearly && !isMonthly && !isWeekly"
                                                    [options]="myDatePickerOptionsTaskTempl"
                                                    [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="dayDateDP"></my-date-picker>
                                    <ng-select [items]="periodWeeklyExpFixedDay | async"
                                               bindLabel="description"
                                               id="daySelect"
                                               [searchable]="true"
                                               [clearable]="false"
                                               *ngIf="isFixedDay && isWeekly && !isYearly && !isMonthly"
                                               [(ngModel)]="selectedPeriodWeeklyExpFixedDay"
                                               [ngModelOptions]="{standalone: true}"
                                               placeholder="{{ 'BACK_OFFICE.TASK.SELECT_DAY' | translate }}">
                                    </ng-select>
                                    <div *ngIf="submitted && !selectedPeriodWeeklyExpFixedDay && isWeekly" class="invalid-feedback-show">
                                        {{ 'BACK_OFFICE.TASK.DAY_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="submitted && !dayNumberTI && isMonthly" class="invalid-feedback-show">
                                        {{ 'BACK_OFFICE.TASK.DAY_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="submitted && !dayDateDP && isYearly" class="invalid-feedback-show">
                                        {{ 'BACK_OFFICE.TASK.DAY_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="daysOfNotice" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.DAYS_NOTICE' | translate }}</label>
                                    <input type="number" class="form-control"
                                           formControlName="daysOfNotice"
                                           id="daysOfNotice"
                                           [ngClass]="{'is-invalid': submitted && f.daysOfNotice.errors }">
                                    <div *ngIf="submitted && f.daysOfNotice.errors" class="invalid-feedback">
                                        <div *ngIf="f.daysOfNotice.errors.required">{{ 'BACK_OFFICE.TASK.DAYS_NOTICE_REQUIRED' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="frequenceOfNotice" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.FREQUENCE_NOTICE' | translate }}</label>
                                    <input type="number" class="form-control"
                                           formControlName="frequenceOfNotice"
                                           id="frequenceOfNotice"
                                           [ngClass]="{'is-invalid': submitted && f.frequenceOfNotice.errors }">
                                    <div *ngIf="submitted && f.frequenceOfNotice.errors"
                                         class="invalid-feedback">
                                        <div *ngIf="f.frequenceOfNotice.errors.required">{{ 'BACK_OFFICE.TASK.FREQUENCE_NOTICE_REQUIRED' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="daysBeforeShowExpiration" class="control-label col-form-label">{{ 'BACK_OFFICE.TASK.EXPIRATION_CLOSABLE' | translate }}</label>
                                    <input type="number" class="form-control"
                                           formControlName="daysBeforeShowExpiration"
                                           id="daysBeforeShowExpiration"
                                           [ngClass]="{'is-invalid': submitted && f.daysBeforeShowExpiration.errors }">
                                    <div *ngIf="submitted && f.daysBeforeShowExpiration.errors"
                                         class="invalid-feedback">
                                        <div *ngIf="f.daysBeforeShowExpiration.errors.required">{{ 'BACK_OFFICE.TASK.EXPIRATION_CLOSABLE_REQUIRED' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br/>

                        <div *ngIf="isTaskTemplateForm">
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" (click)="fileInput.click()" class="btn-tnx btn-default">
                                        {{ 'GENERAL.UPLOAD_FILES' | translate }}
                                    </button>
                                    <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                                    <input #selectedFile type="file" #fileInput ng2FileSelect [uploader]="uploader"
                                           multiple/>
                                </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 table-responsive">
                                    <table class="table table-borderless table-sm">
                                        <thead>
                                        <tr>
                                            <th width="50%">{{ 'GENERAL.NAME' | translate }}</th>
                                            <th width="10%">{{ 'GENERAL.SIZE' | translate }}</th>
                                            <th width="40%">{{ 'GENERAL.ACTIONS' | translate }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of uploader?.queue">
                                            <td>
                                                <strong>{{ item?.file?.name }}</strong>
                                            </td>
                                            <td nowrap>{{ item?.file?.size/1024/1024 | number:'.1' }} MB
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn-tnx btn-danger btn-xs"
                                                        (click)="removeFileToRemove(item)">
                                                    <span class="fa fa-trash"></span> {{ 'GENERAL.REMOVE' | translate }}
                                                </button>
                                                <button *ngIf="!isNewForm" type="button" class="btn-tnx btn-xs"
                                                        (click)="downloadFile(item)">
                                                    <span class="fa fa-download"></span> {{ 'GENERAL.DOWNLOAD' | translate }}
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <app-association-office [isTaskTemplateForm]="isTaskTemplateForm" [task]="task" (checkAssociationOffice)="checkAssociationOffice($event)"></app-association-office>

                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="m-b-0 col text-left">
                                <button #cancelBtn type="button" routerLink="/back-office/task"
                                        class="btn-tnx btn-outline-secondary waves-effect waves-light">
                                    {{ 'GENERAL.CANCEL' | translate }}
                                </button>
                                <button #submitBtn class="btn-tnx btn-success waves-effect waves-light">{{ 'BACK_OFFICE.TASK.SAVE_TASK_TEMPLATE' | translate }}
                                </button>
                                <button type="button" (click)="deleteTaskTemplate()"
                                        *ngIf="!task?.taskOffices && !isNewForm && isTaskTemplateForm"
                                        class="btn-tnx btn-danger waves-effect waves-light">{{ 'GENERAL.DELETE' | translate }}
                                </button>
                                <button type="button" (click)="deleteTask()"
                                        *ngIf="(task && ((task.taskOffices && task.taskOffices.length === 0) || !task.taskOffices)) && !isNewForm && !isTaskTemplateForm"
                                        class="btn-tnx btn-danger waves-effect waves-light">{{ 'GENERAL.DELETE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <swal
                        #confirmationTaskTemplateSwal
                        title=""
                        text=""
                        [showCancelButton]="true"
                        confirmButtonText="{{ 'GENERAL.YES_SAVE_IT' | translate }}"
                        cancelButtonText="{{ 'GENERAL.NO_CANCEL' | translate }}"
                        type="warning">
                </swal>
                <swal
                        #errorTaskTemplateSwal
                        title=""
                        text=""
                        type="error">
                </swal>

            </div>
        </div>
    </div>
</div>
<!-- End Row -->