<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="{{ isMobile ? 'card-body-mobile' : 'card-body' }}">
        <div class="row">

          <div class="col-md-3 {{ isMobile ? 'margin-b-5' : '' }}">
            <input type='text' class="form-control"
                   [(ngModel)]="descriptionTaskTemplate" (keyup)="changeTextDescription()"
                   placeholder="{{ 'BACK_OFFICE.OFFICE_TASK.SEARCH_DESCRIPTION' | translate }}"/>
          </div>

          <div class="col-md-3 {{ isMobile ? 'margin-b-5' : '' }}">
            <ng-select
                    [items]="officesObservable | async"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [searchable]="true"
                    bindLabel="description"
                    placeholder="{{ 'BACK_OFFICE.OFFICE_TASK.SELECT_OFFICES' | translate }}"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onChangeCompanies()"
                    [(ngModel)]="offices">
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input [ngModelOptions]="{standalone: true}"
                       id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>
                {{item.description}}
              </ng-template>
            </ng-select>
          </div>

          <div class="col-md-2">
            <button class="btn btn-info btn-block" type="button" (click)="searchOfficeTasks(); searchTaskTemplates()">{{ 'GENERAL.SEARCH' | translate }}
            </button>
          </div>
        </div>
        <hr>

        <app-tasktemplate-table [taskTemplatesArray]="taskTemplatesArray"></app-tasktemplate-table>

        <app-office-taks-collapse></app-office-taks-collapse>

        <swal
                #deleteOfficeSwal
                title=""
                text="This cannot be undone."
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="deleteOfficeConfirm(rowSelected.id)">
        </swal>

      </div>
    </div>
  </div>
</div>
