<div *ngIf="!isTaskTemplateForm">
    <div class="row">
        <div class="col-sm-12 col-sm-5">
            <div class="form-group">
                <label for="periodicity" class="control-label col-form-label">Add association</label>
                <div class="col-sm-9">
                    <ng-select [items]="officesObservable | async"
                               bindLabel="description"
                               id="periodicity"
                               [multiple]="true"
                               [closeOnSelect]="false"
                               [hideSelected]="true"
                               [searchable]="true"
                               [clearable]="false"
                               [(ngModel)]="selectedOffices"
                               [ngModelOptions]="{standalone: true}"
                               (add)="onAddOfficeRealation($event)"
                               (remove)="onRemoveOfficeRelation($event)"
                               (clear)="clearAll()"
                               placeholder="Select offices">

                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items">
                                <span class="ng-value-label">{{item.description}}</span>
                            </div>
                        </ng-template>

                    </ng-select>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let taskOffice of taskOfficesArray">
        <app-association-office-users [taskOffice]="taskOffice"
                                      (removeOfficeEvent)="removeOffice($event)">
        </app-association-office-users>
    </div>
</div>