<!-- Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Company Form</h4>
                <hr>
                <form class="form-horizontal" [formGroup]="createEditCompany"
                      (ngSubmit)="createEditCompanySubmit()">
                    <div class="card-body">

                        <div class="form-group row">
                            <label for="description"
                                   class="col-sm-3 text-right control-label col-form-label">Description</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                       formControlName="description"
                                       id="description"
                                       [ngClass]="{'is-invalid': submitted && f.description.errors }">
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">Description is required</div>
                                </div>
                            </div>
                        </div>

                        <br/>

                        <div *ngIf='company'>
                            <app-company-associate-users #appCompanyAssociateUserComponent
                                                         [company]="company"></app-company-associate-users>
                        </div>

                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="m-b-0 col text-right">
                                <button #cancelBtn type="button" routerLink="//back-office/company"
                                        class="btn-tnx btn-outline-secondary waves-effect waves-light">Cancel
                                </button>
                                <button #submitBtn class="btn-tnx btn-success waves-effect waves-light">Save Company
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <swal
                        #errorDescriptionSwal
                        title=""
                        text="Can not save company with the same description."
                        type="error">
                </swal>

            </div>
        </div>
    </div>
    <!-- End Row -->
