<!-- Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Company Form</h4>
                <hr>
                <form class="form-horizontal" [formGroup]="createEditCompany"
                      (ngSubmit)="createEditCompanySubmit()">
                    <div class="card-body">

                        <div class="input-group">
                            <label for="description"
                                   class="col-sm-3 text-right control-label col-form-label">Description</label>
                            <input type="text" class="form-control col-sm-7"
                                   formControlName="description"
                                   id="description"
                                   style="margin-left: 5px"
                                   [ngClass]="{'is-invalid': submitted && f.description.errors }">
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Description is required</div>
                            </div>
                            <div class="input-group-prepend">
                                <button #submitBtn class="btn-tnx btn-warning waves-effect waves-light"
                                        style="margin-left: 5px">Save Company
                                </button>
                            </div>
                        </div>

                        <br/>

                        <div *ngIf='company'>
                            <app-company-associate-users #appCompanyAssociateUserComponent [company]="company"></app-company-associate-users>
                        </div>

                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="input-group">
                            <!--<div class="col m-b-0">-->
                            <!--<button #associateUsersToCompany type="button" (click)="openAssociateUsersToCompany()"-->
                            <!--class="btn btn-info waves-effect waves-light">Associate Users To Company-->
                            <!--</button>-->
                            <!--</div>-->
                            <div class="m-b-0 col text-right">
                                <button #cancelBtn type="button" routerLink="//back-office/company"
                                        class="btn btn-outline-secondary waves-effect waves-light">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <swal
                        #errorDescriptionSwal
                        title=""
                        text="Can not save company with the same description."
                        type="error">
                </swal>

                <swal
                        #confirmationCompanySwal
                        title=""
                        text=""
                        [showCancelButton]="true"
                        confirmButtonText="Yes, save it!"
                        cancelButtonText="No, cancel!"
                        type="warning">
                </swal>

            </div>
        </div>
    </div>
    <!-- End Row -->
