<!-- Row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Company Form</h4>
      <hr>
      <form class="form-horizontal">
        <div class="card-body">
          <div class="form-group row">
            <label for="description" class="col-sm-3 text-right control-label col-form-label">Full Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="description">
            </div>
          </div>
          <div class="form-group row">
            <label for="createdBy" class="col-sm-3 text-right control-label col-form-label">Created by</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="createdBy">
            </div>
          </div>
          <div class="form-group row">
            <label for="modifiedBy" class="col-sm-3 text-right control-label col-form-label">Modified by</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="modifiedBy">
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <div class="form-group m-b-0 text-right">
            <button type="submit" routerLink="//back-office/company" class="btn btn-outline-secondary waves-effect waves-light">Cancel</button>
            <button type="submit" class="btn btn-warning waves-effect waves-light">Save Company</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Row -->
