<div class="d-md-flex align-items-center">

    <div *ngIf="expirationActivity && expirationActivity.descriptionLastActivity === ''"
    class="w-100">
        <div class="card">
            <br/>
            <div>
                <form>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="expActivityMsg"
                               [ngModelOptions]="{standalone: true}"
                               class="form-control col-md-9"
                               placeholder="{{ 'FRONT_END.AGENDA.TYPE_SOMETHING' | translate }}">
                        <div class="input-group-append">
                            <div class="col-md-2 no-padding">
                                <button type="button" (click)="fileInput.click()" class="btn-inline btn-default">
                                    <span *ngIf="!isMobile">{{ 'GENERAL.UPLOAD_FILES' | translate }}</span>
                                    <i *ngIf="isMobile" class="fas fa-upload fa-xs"></i>
                                </button>
                                <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                                    <input #selectedFile type="file" #fileInput ng2FileSelect [uploader]="uploader"
                                           multiple/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="submitted && !expActivityMsg" class="invalid-feedback-show">
                        {{ 'FRONT_END.AGENDA.MESSAGE_REQUIRED' | translate }}
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-borderless table-sm">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader?.queue">
                                    <td>
                                        <strong>{{ item?.file?.name }}</strong>
                                    </td>
                                    <td nowrap>{{ item?.file?.size/1024/1024 | number:'.1' }} MB
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="{{ isMobile ? 'btn btn-small btn-danger' : 'btn btn-danger' }}"
                                                (click)="removeFile(item)">
                                            <span class="fa fa-trash"></span>
                                            <span *ngIf="!isMobile">{{ 'GENERAL.REMOVE' | translate }}</span>
                                        </button>
                                        <button *ngIf="!isNewForm" type="button" class="{{ isMobile ? 'btn btn-small btn-default' : 'btn btn-default' }}"
                                                (click)="downloadFile(item)">
                                            <span class="fa fa-download"></span>
                                            <span *ngIf="!isMobile">{{ 'GENERAL.DOWNLOAD' | translate }}</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="m-b-0 col text-left">
                            <button #cancelBtn type="button" (click)="cleanFormAfterInsert()"
                                    class="btn btn-outline-secondary waves-effect waves-light">
                                {{ 'GENERAL.CANCEL' | translate }}
                            </button>
                            <button #submitBtn type="button" (click)="saveExpActivDetail()"
                                    class="btn btn-success waves-effect waves-light">{{ 'GENERAL.SAVE' | translate }}
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <br/>
    </div>

    <div class="border p-2 w-100"
            *ngIf="expirationActivity && expirationActivity.idExpirationActivity">
        <div class="{{ isMobile ? 'text-small' : '' }}">
            <p><i>{{ expirationActivity?.descriptionLastActivity }}</i></p>
            <h6><b>{{ expirationActivity?.body }}</b></h6>

            <div class="col-md-12 table-responsive">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let expirationActivityAttachment of expirationActivity?.expirationActivityAttachments">
                        <td>
                            <strong><a (click)="downloadFileExp(expirationActivityAttachment)"
                                       class="text-primary" style="cursor: pointer;">
                                {{ expirationActivityAttachment?.fileName }}
                            </a></strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <swal
            #errorTaskTemplateSwal
            title=""
            text=""
            type="error">
    </swal>

</div>
