<div *ngFor="let officeTaskTemplates of officeTaskTemplatesArray">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion nav-accordion">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <div id="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <span class="float-left">{{ officeTaskTemplates.office.description }}</span>
                        </div>
                        <div class="col-4 text-center">
                        </div>
                        <div *ngIf="!officeTaskTemplates?.taskTemplates" class="col-4 text-center">
                        </div>

                        <div *ngIf="officeTaskTemplates?.taskTemplates" class="col-4 float-right">
                            {{ 'BACK_OFFICE.OFFICE_TASK.TASK_TEMPLATES_SPACE' | translate }} {{ officeTaskTemplates?.taskTemplates?.length }}
                        </div>
                        <div class="col-2 float-right">
                            <button class="btn btn-info btn-block " type="button"
                                    (click)="createTaskTemplate(officeTaskTemplates)">{{ 'GENERAL.CREATE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <table class="table table-borderless table-responsive">
                    <tbody>
                    <tr *ngFor="let taskTemplate of officeTaskTemplates.taskTemplates">
                        <td>
                            <button class="btn btn-info btn-block" type="button"
                                    (click)="modifyTaskTemplate(taskTemplate, officeTaskTemplates?.office)">{{ 'GENERAL.MODIFY' | translate }}
                            </button>
                        </td>
                        <td>{{taskTemplate.descriptionTaskTemplate}}</td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>