<div class="form-group row">
    <label class="col-sm-3 {{ isMobile ? 'text-left' : 'text-right' }} control-label col-form-label">{{ 'BACK_OFFICE.COMPANY.ASSOCIATE_USERS_COMPANY' | translate }}</label>
    <div class="col-sm-9">
        <ng-select
                [items]="usersObservable | async"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                bindLabel="fullName"
                placeholder="{{ 'BACK_OFFICE.COMPANY.SELECT_USERS' | translate }}"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedUsers"
                (change)="onChangeSelectUsers($event)">

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input [ngModelOptions]="{standalone: true}"
                       id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.fullName}}
            </ng-template>
        </ng-select>
    </div>
</div>
<br/>
<div class="form-group row">
    <label class="col-sm-3 {{ isMobile ? 'text-left' : 'text-right' }} control-label col-form-label">{{ 'BACK_OFFICE.COMPANY.ASSIGN_USERS_AS_ADMIN_COMPANY' | translate }}</label>
    <div class="col-sm-9">
        <ng-select
                [items]="usersAsAdminObservable | async"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                bindLabel="fullName"
                placeholder="{{ 'BACK_OFFICE.COMPANY.SELECT_USERS' | translate }}"
                (change)="onChangeSelectUsers($event)"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedUsersAsAdmin">

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input [ngModelOptions]="{standalone: true}"
                       id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.fullName}}
            </ng-template>
        </ng-select>
    </div>
</div>
