<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle" #headerAssociateUsers>Associate users to the Company: {{ company?.description}}</h5>
                <hr>

                <form class="form-horizontal" [formGroup]="associateUsersToCompany"
                      (ngSubmit)="associateUsersToCompanySubmit()">
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-sm-3 text-right control-label col-form-label">Associate users to the
                                company</label>
                            <div class="col-sm-9">
                                <ng-select
                                        [items]="usersObservable | async"
                                        [multiple]="true"
                                        [closeOnSelect]="false"
                                        [searchable]="true"
                                        bindLabel="fullName"
                                        placeholder="Select users"
                                        [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="selectedUsers"
                                        (clear)="onChangeSelectUsers($event)"
                                        (add)="onChangeSelectUsers($event)"
                                        (remove)="onChangeSelectUsers($event)"
                                        (change)="onChangeSelectUsers($event)">

                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input [ngModelOptions]="{standalone: true}"
                                               id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.fullName}}
                                    </ng-template>
                                </ng-select>
                                <!--<div *ngIf="submitted && f.description.errors" class="invalid-feedback">-->
                                    <!--<div *ngIf="f.description.errors.required">Description is required</div>-->
                                <!--</div>-->
                            </div>

                            <label class="col-sm-3 text-right control-label col-form-label">Assign users as Admin of company
                                company</label>
                            <div class="col-sm-9">
                                <ng-select
                                        [items]="usersAsAdminObservable | async"
                                        [multiple]="true"
                                        [closeOnSelect]="false"
                                        [searchable]="true"
                                        bindLabel="fullName"
                                        placeholder="Select users"
                                        (add)="onAddAsAdmin($event)"
                                        (remove)="onRemoveAsAdmin($event)"
                                        [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="selectedUsersAsAdmin">

                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input [ngModelOptions]="{standalone: true}"
                                               id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.fullName}}
                                    </ng-template>
                                </ng-select>
                                <!--<div *ngIf="submitted && f.description.errors" class="invalid-feedback">-->
                                    <!--<div *ngIf="f.description.errors.required">Description is required</div>-->
                                <!--</div>-->
                            </div>

                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="form-group m-b-0 text-right">
                                <button #cancelBtn type="button" routerLink="//back-office/company"
                                        class="btn btn-outline-secondary waves-effect waves-light">
                                    Cancel
                                </button>
                                <button #submitBtn class="btn btn-warning waves-effect waves-light">Save Associated
                                    Users
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
