<div class="d-md-flex align-items-center">
    <div class="border border-blue p-2 w-100">
        <div>
            <p><i>{{ 'FRONT_END.AGENDA.EXPIRY_INFORMATION' | translate }}</i></p>
            <h6 >{{ taskTemplate?.description }}</h6>

            <div class="col-md-12 table-responsive">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let taskTemplateAttachment of taskTemplate?.taskTemplateAttachmentResults">
                        <td>
                            <strong><a (click)="downloadFileExp(taskTemplateAttachment)"
                                       class="text-primary" style="cursor: pointer;">
                                {{ taskTemplateAttachment?.fileName }}
                            </a></strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <swal
            #errorTaskTemplateSwal
            title=""
            text=""
            type="error">
    </swal>

</div>
