<div class="card bg-grey text-black-50 p-2 w-100">
        <div class="{{ isMobile ? 'text-small' : '' }}">
            <p>{{ 'FRONT_END.AGENDA.EXPIRY_INFORMATION' | translate }}</p>
            <h6 class="m-h-56 p-2 bg-white br-div">
                {{ taskTemplate?.description }}
            </h6>

            <div class="col-md-12 table-responsive">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let taskTemplateAttachment of taskTemplate?.taskTemplateAttachmentResults">
                        <td>
                            <strong><a (click)="downloadFileExp(taskTemplateAttachment)"
                                       class="text-primary" style="cursor: pointer;">
                                {{ taskTemplateAttachment?.fileName }}
                            </a></strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <swal
            #errorTaskTemplateSwal
            title=""
            text=""
            type="error">
    </swal>

</div>
