<div *ngFor="let taskExpiration of taskExpirations; let i = index">
    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="accordion nav-accordion">
        <ngb-panel type="{{ taskExpiration.colorDefined }}" id="panel-{{ i }}">
            <ng-template ngbPanelTitle>
                <div id="{{ isMobile ? 'container-fluid-mobile' : 'container-fluid' }}">
                    <div class="row">
                        <div class="{{ isMobile ? 'col-7 text-small margin-left-10' : 'col-8' }}">
                            <span class="float-left">{{ taskExpiration.description }} - {{ taskExpiration.office.description }} <i *ngIf="taskExpiration?.expirations[0].username !== ''">-</i> {{ taskExpiration?.expirations[0].username }}</span>
                        </div>
                        <div class="{{ isMobile ? 'col-5 text-small margin-left-2' : 'col-4' }} {{ isMobile ? 'text-left' : 'text-right' }}">
                            <span class="{{ isMobile ? 'float-left' : '' }}">{{ 'FRONT_END.AGENDA.EXPIRATION_DATE' | translate }} {{taskExpiration.expirationDate}}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div *ngFor="let expiration of taskExpiration.expirations">
                    <app-office-expiration-controlled [expiration]="expiration"
                                                      (updateTaskExpirationOnChange)="updateTaskExpirationOnChange($event, expiration, taskExpiration)"
                                                      [taskExpiration]="taskExpiration"
                                                      class="w-100">
                    </app-office-expiration-controlled>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>