<div *ngIf="company">
    <ngb-accordion #acc="ngbAccordion" activeIds="static-1">
        <ngb-panel id="static-1" title="{{ 'BACK_OFFICE.CONSULTANT.LIST_CONSULTANTS' | translate }}">
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-md-9">
                        <input type='text' class="form-control"
                               placeholder="{{ 'BACK_OFFICE.CONSULTANT.TYPE_FILTER_ROWS' | translate }}"
                               (keyup)='updateFilter($event)'/>
                    </div>
                    <div class="col-md-3 text-right">
                        <button class="btn-tnx btn-info btn-block" type="button" (click)="createNewCompanyConsultant()">
                            {{ 'BACK_OFFICE.CONSULTANT.CREATE_NEW_CONSULTANT' | translate }}
                        </button>
                    </div>
                </div>
                <hr>
                <ngx-datatable #myTable
                               class='material expandable'
                               [columnMode]="'force'"
                               [headerHeight]="50"
                               [footerHeight]="50"
                               [rowHeight]="55"
                               [rows]='rows'
                               [messages]="{emptyMessage: ('GENERAL.NODATA' | translate), totalMessage: ('GENERAL.TOTAL' | translate), selectedMessage: false}"
                               [limit]="10">

                    <!-- Column Templates -->

                    <ngx-datatable-column
                            [width]="80"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <div style="font-size:9px" class="desktop-hidden">
                                <button class="btn-tnx btn-warning waves-effect waves-light btn-sm" type="button"
                                        (click)="editCompanyConsultant(row)">
                                    <i class="fas fa-pencil-alt fa-xs"></i>
                                </button>
                                <button class="btn-tnx btn-danger waves-effect waves-light btn-sm" type="button"
                                        (click)="deleteCompanyConsultantAlert(row)">
                                    <i class="far fa-trash-alt fa-xs"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Options"
                                          [maxWidth]="200"
                                          [sortable]="false" [flexGrow]="1">

                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class="mobile-hidden">{{column.name}}</span>
                        </ng-template>

                        <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="mobile-hidden">
              <button class="btn-tnx btn-warning
              waves-effect waves-light" type="button"
                      (click)="editCompanyConsultant(row)">{{ 'GENERAL.EDIT' | translate }}</button>
              </span>

                            <span class="mobile-hidden">
              <button class="btn-tnx btn-danger
              waves-effect waves-light"
                      type="button"
                      (click)="deleteCompanyConsultantAlert(row)">{{ 'GENERAL.REMOVE' | translate }}</button>
              </span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'BACK_OFFICE.CONSULTANT.NOMINATIVE_BUSINESS_NAME' | translate }}"
                                          [flexGrow]="3" [minWidth]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.name}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Email" [flexGrow]="3" [minWidth]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.email}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'BACK_OFFICE.CONSULTANT.TELEPHONE_1' | translate }}" [flexGrow]="3"
                                          [minWidth]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.phone1}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'BACK_OFFICE.CONSULTANT.TELEPHONE_2' | translate }}" [flexGrow]="3"
                                          [minWidth]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.phone2}}
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- End Column Templates -->
                </ngx-datatable>

                <swal
                        #deleteCompanyConsultantSwal
                        title=""
                        text="{{ 'GENERAL.CANNOT_BE_UNDONE' | translate }}"
                        type="question"
                        [showCancelButton]="true"
                        [focusCancel]="true"
                        (confirm)="deleteCompanyConsultantCofirm()">
                </swal>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>