<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle">{{ 'FRONT_END.AGENDA.AGENDA_CONTROLLER' | translate }}</h5>
                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-form-label">{{ 'FRONT_END.AGENDA.SHOW_EXPIRATION_FROM' | translate }}</label>
                            <my-date-picker name="dateStart" [options]="myDatePickerOptions"
                                            [(ngModel)]="dateStart"></my-date-picker>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-form-label">{{ 'FRONT_END.AGENDA.TO' | translate }}</label>
                            <my-date-picker name="dateEnd" [options]="myDatePickerOptions"
                                            [(ngModel)]="dateEnd"></my-date-picker>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label col-form-label">{{ 'FRONT_END.AGENDA.ASSOCIATIONS' | translate }}</label>
                        <ng-select
                                [items]="officesObservable | async"
                                [multiple]="true"
                                [closeOnSelect]="false"
                                [searchable]="true"
                                bindLabel="description"
                                placeholder="{{ 'FRONT_END.AGENDA.SELECT_OFFICES' | translate }}"
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="offices">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input [ngModelOptions]="{standalone: true}"
                                       id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>
                                {{item.description}}
                            </ng-template>
                        </ng-select>
                    </div>

                    <div class="col-md-2">
                        <label class="control-label col-form-label">{{ 'FRONT_END.AGENDA.ARCHIVED_TASKS' | translate }}</label>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="showArchivedTask"
                                       [checked]="archivedTasks" (change)="archivedTasks = !archivedTasks">
                                <label class="custom-control-label" for="showArchivedTask"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label class="control-label col-form-label"></label>
                        <button class="btn btn-info btn-block" type="button" (click)="searchTaskTemplates()">{{ 'FRONT_END.AGENDA.FILTER' | translate }}
                        </button>
                    </div>

                </div>
                <hr>

                <app-task-template-expirations [taskExpirations]="taskExpirations"></app-task-template-expirations>

            </div>
        </div>
    </div>
</div>
