<div *ngFor="let companyTopic of companyTopicsArray">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion nav-accordion">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <div id="container-fluid">
                    <div class="row">
                        <div class="col-2 float-left">
                            <span class="float-left">{{ companyTopic.topic.description }}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>

                <ng-select
                        [items]="consultantsObservable | async"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="true"
                        bindLabel="name"
                        placeholder="{{ 'BACK_OFFICE.CONSULTANT.SELECT_CONSULTANT' | translate }}"
                        (clear)="onClearTopicConsultant(companyTopic)"
                        (add)="onAddTopicConsultant(companyTopic, $event)"
                        [(ngModel)]="companyTopic.topic.consultantList"
                        (remove)="onRemoveTopicConsultant(companyTopic, $event)">

                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
                    </ng-template>
                </ng-select>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>