<div *ngFor="let companyTopic of companyTopicsArray">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion nav-accordion">
        <ngb-panel title="{{ companyTopic.topic.description }}">
            <ng-template ngbPanelContent>

                <ng-select
                        [items]="consultantsObservable | async"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [searchable]="true"
                        bindLabel="consultant.name"
                        placeholder="Select consultant"
                        (clear)="onClearTopicConsultant(companyTopic)"
                        (add)="onAddTopicConsultant(companyTopic, $event)"
                        [(ngModel)]="companyTopic.topic.topicConsultantList"
                        (remove)="onRemoveTopicConsultant(companyTopic, $event)">

                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
                    </ng-template>
                </ng-select>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>