<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label col-form-label">{{ 'FRONT_END.AGENDA.SHOW_EXPIRATION_FROM' | translate }}</label>
              <my-date-picker name="dateStart" [options]="myDatePickerOptions"
                              [(ngModel)]="dateStart"></my-date-picker>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label col-form-label">{{ 'FRONT_END.AGENDA.TO' | translate }}</label>
              <my-date-picker name="dateEnd" [options]="myDatePickerOptions"
                              [(ngModel)]="dateEnd"></my-date-picker>
            </div>
          </div>

          <div class="col-md-2">
            <label class="control-label col-form-label">{{ 'FRONT_END.AGENDA.ARCHIVED_TASKS' | translate }}</label>
            <div class="form-check">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="showArchivedTask"
                       [checked]="archivedTasks" (change)="archivedTasks = !archivedTasks">
                <label class="custom-control-label" for="showArchivedTask"></label>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
            <label class="control-label col-form-label"></label><br><br>
              <button class="btn btn-info btn-block" type="button" (click)="searchTaskTemplates()">
                {{ 'FRONT_END.AGENDA.FILTER' | translate }}
              </button>
            </div>
          </div>

        </div>
        <hr>

        <app-task-template-expirations-controlled [taskExpirations]="taskExpirations"></app-task-template-expirations-controlled>

      </div>
    </div>
  </div>
</div>
