<div class="d-md-flex align-items-center">

    <div *ngIf="expirationActivity && expirationActivity.descriptionActivity.length === 0"
         class="w-100">
        <div class="card bg-grey text-black-50 p-2">
            <div>
                <form>
                    <div class="input-group">
                        <textarea class="form-control col-md-12 br-div" rows="2"
                                  (keyup)="doTextareaValueChange($event)"
                                  placeholder="{{ 'FRONT_END.AGENDA.TYPE_SOMETHING' | translate }}"
                                  [ngModelOptions]="{standalone: true}"
                                  [(ngModel)]="expActivityMsg"></textarea>
                    </div>
                    <div *ngIf="submitted && !expActivityMsg" class="invalid-feedback-show">
                        {{ 'FRONT_END.AGENDA.MESSAGE_REQUIRED' | translate }}
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-borderless table-sm">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader?.queue">
                                    <td>
                                        <strong>{{ item?.file?.name }}</strong>
                                    </td>
                                    <td nowrap>{{ item?.file?.size/1024/1024 | number:'.1' }} MB
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger"
                                                (click)="removeFile(item)">
                                            <span class="fa fa-trash"></span> Remove
                                        </button>
                                        <button *ngIf="!isNewForm" type="button" class="btn btn-xs"
                                                (click)="downloadFile(item)">
                                            <span class="fa fa-download"></span> {{ 'GENERAL.DOWNLOAD' | translate }}
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="m-b-0 col text-left">
                            <button #cancelBtn type="button" (click)="cleanFormAfterInsert()"
                                    class="btn btn-light">
                                {{ 'GENERAL.CANCEL' | translate }}
                            </button>
                            <button #submitBtn type="button" (click)="saveExpActivDetail()"
                                    class="btn btn-success">{{ 'GENERAL.SAVE' | translate }}
                            </button>

                            <button type="button" (click)="fileInput.click()" class="btn btn-primary">
                                <span *ngIf="!isMobile">{{ 'GENERAL.UPLOAD_FILES' | translate }}</span>
                                <i *ngIf="isMobile" class="fas fa-upload fa-xs"></i>
                            </button>
                            <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                                    <input #selectedFile type="file" #fileInput ng2FileSelect [uploader]="uploader"
                                           multiple/>
                                </span>

                        </div>
                    </div>

                </form>
            </div>
        </div>
        <br/>
    </div>

    <div class="card bg-grey text-black-50 p-2 w-100"
         *ngIf="expirationActivity && expirationActivity.idExpirationActivity">
        <div class="{{ isMobile ? 'text-small' : '' }}">
            <p class="align-middle">
                <i class="fas fa-user-circle fa-2x align-middle c-grey"></i>
                {{ descriptionActivityLangOnChange }}
            </p>
            <h6 class="m-h-56 p-2 bg-white br-div">
                <b>{{ expirationActivity?.body }}</b>
            </h6>

            <div class="col-md-12 table-responsive no-padding">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let expirationActivityAttachment of expirationActivity?.expirationActivityAttachments">
                        <td class="no-padding">
                            <strong><a (click)="downloadFileExp(expirationActivityAttachment)"
                                       class="text-primary" style="cursor: pointer;">
                                {{ expirationActivityAttachment?.fileName }}
                            </a></strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <swal
            #errorTaskTemplateSwal
            title=""
            text=""
            type="error">
    </swal>

</div>
