<!-- Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="{{ isMobile ? 'card-body-mobile' : 'card-body' }}">
                <form class="form-horizontal" [formGroup]="createEditOffice"
                      (ngSubmit)="createEditOfficeSubmit()">
                    <div class="{{ isMobile ? 'card-body-mobile' : 'card-body' }}">

                        <div class="form-group row">
                            <label for="description" class="col-sm-3 text-right control-label col-form-label">{{
                                'BACK_OFFICE.OFFICE.DESCRIPTION' | translate }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                       formControlName="description"
                                       id="description"
                                       [ngClass]="{'is-invalid': submitted && f.description.errors }">
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">{{
                                        'BACK_OFFICE.OFFICE.DESCRIPTION_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 text-right control-label
                     col-form-label">{{ 'BACK_OFFICE.OFFICE.ASSIGN_COMPANY' | translate }}</label>
                            <div class="col-sm-9">
                                <ng-select [items]="companiesObservable | async"
                                           bindLabel="description"
                                           [(ngModel)]="selectedCompany"
                                           [ngModelOptions]="{standalone: true}"
                                           placeholder="{{ 'BACK_OFFICE.OFFICE.SELECT_COMPANY' | translate }}">
                                </ng-select>
                                <div *ngIf="submitted && !selectedCompany" class="invalid-feedback-show">
                                    {{ 'BACK_OFFICE.OFFICE.COMPANY_REQUIRED' | translate }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="{{ isMobile ? 'card-body-mobile' : 'card-body' }}">
                        <div class="row">
                            <div class="m-b-0 col text-right">
                                <button #cancelBtn type="button" routerLink="/back-office/office"
                                        class="btn btn-outline-secondary waves-effect waves-light">
                                    {{ 'GENERAL.CANCEL' | translate }}
                                </button>
                                <button #submitBtn class="btn btn-success waves-effect waves-light">{{
                                    'BACK_OFFICE.OFFICE.SAVE_OFFICE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <swal
                        #errorDescriptionSwal
                        title=""
                        type="error">
                </swal>

                <swal
                        #confirmationOfficeSwal
                        title=""
                        text=""
                        [showCancelButton]="true"
                        confirmButtonText="{{ 'GENERAL.YES_SAVE_IT' | translate }}"
                        cancelButtonText="{{ 'GENERAL.NO_CANCEL' | translate }}"
                        type="warning">
                </swal>

            </div>
        </div>
    </div>
</div>